body{
 
}

.circle {
    position: fixed;
    bottom: 60px;
    right: 20px;
}

div.gallery {
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    float: left;
    max-width: 40%;
}


div.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 9px;
}


/*---------------------------Mediq Queries-------------------------------*/


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .backgroundimg{
        width: 360px;
        margin: auto;
    }
}




