

body{
    font-family: sans-serif;
    background-color: #141518;
}

.profile {
    align-content: center;
    text-align: center;
    margin-top: 10%;
    color: darkgray;
}
#profileimage {
    border: solid 5px black;
    border-radius: 10px;
    max-width: 40%;
    height: auto;
}



h2 {
    color: green;
}

ul li, #posts, #likes{
    padding:5px;
    height:40px;
    border: solid 1px black;
    border-radius: 10px;
    opacity: 0.5;
    font-size: 16px;
    text-align: center;
}
.profilebuttons{    
    width: 100%;
    padding: 5px;
    height: 40px;

}

#Likes{
    position: fixed;
    left: 500px;
}

#Posts{
    position: fixed;
    right: 500px;
}


ul{
    height:40px;
    width:100%;
    margin:0;
    position:fixed;
    display:flex;
    right:20px;
    bottom:0;
    list-style-type: none;
}

.red, #likes,#posts{
    background-color: #ed292a;
}



.smaller{
    width:100%;
}

.menu{
    width: 80px;
    position: fixed;
    top: 50px;
    right: 1px;
    float: right;
 
}

.menu div a{
    display: block;
    text-decoration: none;
    padding: 8px;
    color: white;
}

.menu div{
    background-color: #fff;
    box-shadow:0 2px 4px 8px rgba(0,0,0,0.2);
    visibility: hidden;
}

.menu:hover div{
    visibility: visible;
    background: #27292d;
}




/*-------media queries---------*/

@media only screen and (min-width: 1024px){
    header ul{
        width:40%;
    }

    ul{
        top:0;
        bottom: auto;
        width: 100%;

    }

    footer p{
        text-align: center;
    }

}